body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;      
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header, 
.footer {
  padding: 16px 180px;
}

.header, 
.hero, 
.footer {
  background-color: #1F2937;
}

.hero {
  display: flex;
  gap: 32px;
  padding: 120px 180px;  
  min-height: 300px;
}

.hero-img {
  flex: 1;
  min-width: 200px;
  background-color: #333;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 180px 128px 180px; 
}

.card-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: bisque;
  flex-wrap: wrap;
}

.card {  
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #3882F6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card img {
  background-color: red;  
  width: 300px;
  height: 300px;  
}

.quote {
  padding: 120px 180px;
}

.quote-text {
  margin-bottom: 32px;
}

.quote-author {
  text-align: right;
  font-weight: 800;
}

.main-text, 
.secondary-text {
  color: #F9FAF8;
}

.secondary-text {  
  font-size: 18px;
  font-weight: 200;
}

.header-text {
  font-size: 24px;
  font-weight: 800;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 8px 32px;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
}

.quote {
  background-color: #E5E7EB;  
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.signup {
  background-color: #3882F6;
}