body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;   
  font-size: 18px;   
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header, 
.footer {
  padding: 16px 10%;
}

.header, 
.hero, 
.footer {
  background-color: #1F2937;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 120px 10%;  
  min-height: 300px;
}

.hero-img {
  width: 100%;
  min-width: 300px;
  border-radius: 20px;
  background-color: #333;
}

.hero > div {
  flex: 1;
}

.hero-content {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info-title {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 180px 128px 180px; 
}

.card-container { 
  display: flex;
  flex-wrap: wrap;
}

.card { 
  flex: 1; 
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 20px;
  padding: 8px;
}

.card-text {  
  text-align: center;
  color: #777;
}

.card img {  
  flex-shrink: 0;
  /* border: 5px solid #3882F6; */
  border-radius: 20px;   
  width: 160px;
  height: 160px;
}

.quote {
  padding: 120px 27%;
}

.quote-text {
  margin-bottom: 32px;
}

.quote-author {
  text-align: right;
  font-weight: 800;
}

.signup {
  padding: 120px 15%;
}

.signup-block {
  padding: 50px 10%;
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.signup-title {
  margin-bottom: 8px;
}

.signup-button {
  border-color: #F9FAF8;
  border-style: solid;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text, 
.secondary-text,
.signup-text {
  color: #F9FAF8;
}

.secondary-text {    
  font-weight: 200;
}

.header-text,
.signup-title {
  font-size: 24px;
  font-weight: 800;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  border-style: none;
  padding: 8px 32px;
  font-size: 18px;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
}

.quote {
  background-color: #E5E7EB;  
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
